{{ if .Values.edge }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ant-media-server-edge
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/affinity: "cookie"
    nginx.ingress.kubernetes.io/session-cookie-name: "route"
    nginx.ingress.kubernetes.io/session-cookie-expires: "172800"
    nginx.ingress.kubernetes.io/session-cookie-max-age: "172800"
spec:
  rules:
  - host: {{ .Values.edge }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: ant-media-server-edge
            port:
              number: 5080
  tls:
  - secretName: antmedia-cert-edge
    hosts:
      - {{ .Values.edge }}
{{end}}
